<form novalidate [formGroup]="newStudentForm" (ngSubmit)="onSubmit()">
  <label>Добавление студента</label>
  <div formGroupName="FIO">
    <input type="text" name="name" formControlName="name"/>
    <input type="text" name="secondName" formControlName="secondName"/>
    <input type="text" name="patronymic" formControlName="patronymic"/>
  </div>
  <input type="text" name="age" formControlName="Age"/>
  <input type="text" name="mark" formControlName="Mark"/>
  <input type="submit" value="Создать" (submit)="AddNewStudent()">
  <button (click)="hideForm()">Отменить</button>
</form>
