.Table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.RowTable{
  display: table-row;
}

.highlightClass{
  background: red;
}

.FindingUser{
  background: aquamarine;
}

.FilterFields{
  margin: 5px;
}

.Field {
  margin: 5px;
}

.hovered {
  transform: scale(1.05);
  border-color: coral;
  transition: .5s all;
}

