.popUp {
  opacity: .95;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.popUpOfDelete {
  align-items: center;
  background: #5C5E8E;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.popUpButtons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.popUpButtons button {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  cursor: pointer;
  border: none;
  background: white;
  border-radius: 5px;
  outline: none;
  width: 30%;
}

.popUpOfDelete label {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  color: white;
}
