<div [ngClass]="{'PopUp': true}">
  <form novalidate [ngClass]="{'EditStudentForm': true}" [formGroup]="editStudentForm" (ngSubmit)="onSubmit()">
    <label>Изменение студента</label>
    <div formGroupName="FIO">
      <label> Фамилия:
        <input type="text" name="secondName" formControlName="secondName"/>
      </label>
      <label> Имя:
        <input type="text" name="name" formControlName="name"/>
      </label>
      <label> Отчество:
        <input type="text" name="patronymic" formControlName="patronymic"/>
      </label>
    </div>
    <label> Дата рождения:
      <input type="text" name="dateOfBirth" formControlName="dateOfBirth"/>
    </label>
    <label> Оценка:
      <input type="text" name="mark" formControlName="mark"/>
    </label>
    <div [ngClass]="{'EditStudentFormButtons': true}">
      <input type="submit" value="Изменить" [disabled]="editStudentForm.invalid">
      <button type="button" (click)="hideForm()">Отменить</button>
    </div>
    <div *ngIf="editStudentForm.get('FIO').hasError('invalidFields')">Фамилия, имя и отчество не должны совпадать!</div>
    <div *ngIf="isControlInvalid('dateOfBirth')">Вам меньше 10 лет!</div>
    <div *ngIf="isControlInvalid('mark')">Оценка должна быть 0-5</div>
  </form>
</div>
