<div>
  <div [ngClass]="{'Table': true}">
    <ng-container *ngFor="let student of students let i=index">
      <app-student [ngClass]="{'RowTable': true, 'highlightClass': checkFunc(student), 'FindingUser': FindUser(student)}"
                   *ngIf="CheckFilter(student)"
                   [student]="student" [index]="i + 1" (showPopup)="showPopup(student)" (ChangeStudent)="ChangeStudent($event)">
      </app-student>
    </ng-container>
  </div>
  <div [ngClass]="{'highlightPeople': true, 'Field': true}">
    <button (click)="highlighting()">{{TextButton}}</button>
  </div>
  <div [ngClass]="{'FindUser': true, 'Field': true}">
    <input #FieldForFind placeholder="Поиск студента..." (input)="UserForFind = FieldForFind.value" type="text">
  </div>
  <div [ngClass]="{'Field': true, 'Sort': true}">
    <select #SelectedMethod (change)="Sort(SelectedMethod.selectedIndex)">
      <option value="" selected disabled hidden>Выберите метод сортировки</option>
      <option>По фамилии</option>
      <option>По имени</option>
      <option>По отчеству</option>
      <option>По возрасту</option>
      <option>По оценке</option>
    </select>
  </div>
  <label [ngClass]="{'Field': true}">Фильтрация:</label>
  <input [ngClass]="{'FilterFields': true}" #FieldForMark placeholder="Введите оценку" (input)="markForFilter = FieldForMark.value" type="text">
  <input [ngClass]="{'FilterFields': true}" #FieldForYear placeholder="Введите год" (input)="dateForFilter = FieldForYear.value" type="text">
  <div>
    <button (click)="showAddPopup()">Добавить студента</button>
  </div>
  <app-popup [ngClass]="{'PopUp': true}" *ngIf="isDeletePopUpVisible" [student]="isDeleteStudent"
             (hidePopup)="hidePopup()" (deleteRow)="deleteRow()"></app-popup>
  <app-add-student [ngClass]="{'PopUp': true}" *ngIf="isAddPopUpVisible"
                   (HideForm)="hideAddPopup()" (addNewStudent)="addNewStudent($event)"></app-add-student>
  <app-change-info [ngClass]="{'PopUp': true}" *ngIf="isChangePopUpVisible" (HideForm)="HideChangePopUp()"
                   (EditStudent)="EditStudent($event) " [studentToEdit]="studentToEdit"></app-change-info>
</div>
